* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in;
    font-family: Hans Kendrick, sans-serif;
}

html {
    background: #E2E7EC;
    padding: 4vh;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 1120px;
    height: 84%;
}

.red-car {
    display: flex;
    background: url(../web/redcar.png) no-repeat #E2E7EC content-box;
    width: 740px;
    height: 540px;
}

main p, header p {
    text-transform: uppercase;
    padding-bottom: 40px;
    
    
}

.first-col {
    display: flex;
    align-items: flex-end;
    margin-left: 55px;
    margin-bottom: 0;
    font-size: 13px;
    width: 430px;
    margin-top: 10px;
}
@font-face {
    font-family: Hans Kendrick;
    font-style: normal;
    src: url(HansKendrick-Regular.otf);
}

.girl {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 360px;
    height: 540px;
    background: url(../web/girl.png) no-repeat #fff content-box;
}
.date {
    color: #99A5B0;
    display: flex;
    padding: 10px auto  10px 0;
    font-family: Hans Kendrick;
    font-size: 13px;
}

.second-col {
    display: flex;
    align-self: center;
    order: 1;
    /* padding-left: 25px; */
    width: 300px;
}
.avatar {
    display: flex;
    order: 0;
    padding: 25px;

}
.red-car, .girl {
    padding: 10px;
}
.two-girls, .legs, .white-car {
    padding: 10px;
}
.two-girls {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 360px;
    height: 540px;
    background: url(../web/two-girls.png) no-repeat #fff content-box;
}
.conteiner-below {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 1120px;
}
.third-col {
    display: flex;
    align-self: center;
    order: 1;
    /* padding: 25px; */
    width: 300px;
}
.legs {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 360px;
    height: 540px;
    background: url(../web/legs.png) no-repeat #fff content-box;
}
.fourth-col {
    display: flex;
    align-self: center;
    order: 1;
    /* padding: 25px; */
    width: 300px;
}
.white-car {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 360px;
    height: 540px;
    background: url(../web/whitecar.png) no-repeat #fff content-box;
}
.fifth-col {
    display: flex;
    align-self: center;
    order: 1;
    
    width: 300px;
}
.bottom {
    display: flex;
    justify-content: center;
    height: 210px;
    align-items: center;
}
.bottom img {
    padding-right: 10px;
}
div span.black-text {
    font-family: Hans Kendrick;
    font-weight: bold;
    font-size: 22px;

}
div span.white-text {
    font-family: Hans Kendrick;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.first-col .date {
    color: #E0D3B2;
}
.red-car:hover {
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}